@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "rides";
@import "interests";
@import "admin/application";
@import "admin/users";
@import "responsive";
@import "bootstrap-datetimepicker.min";

.page-header {
  position: relative;
  padding-bottom: 0px;
  &:first-child {
    margin-top: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}
ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.new, a.delete, a.edit {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend  .fa-plus;
  }
}

a.edit {
  @extend .btn;

  &:before {
    @extend  .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend  .fa-trash;
  }
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;
  &:first-child {
    margin-top: 20px;
  }
}
.alert-notice {
  @extend  .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
form {
  max-width: 500%;
}

body {
  padding-top: 70px;
}

body, html {
  font-family : 'Josefin Slab';
  background-image: url(world.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 1000px;
  font-size : 21px;
}

.awesome {
  border: 3px solid;
  color: #41a3f4;
  padding: 25px;
  margin-top: 60px;
  background-color: #c8c8c8;
}