<div class="row">
  <div class="col md-2">
    <header>
      <div style="margin-top: 200px">
        <div class="container align-items-center">
          <div class="text-center">
            <p style="font-size: 84px">Share My Ride</p>
            <p style="font-size: 43px">Now EveryOne Can Ride Comfortably :)</p>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
