<h1>Rides</h1>
<%= link_to "New Ride", new_ride_path %>

<div id="rides">
  <% @rides.each do |ride| %>
    <h2><%= link_to ride.destination, ride %></h2>
      <p> Requiring <%= ride.passengers %> and leaving at <%= ride.checkout %></p>
  <% end %>
</div>